/* reset css */
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none; /* hide all scollbars */
}

html {
  font-size: 62.5%; /* now 10px = 1rem! */
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #4a4a4a;
}

body {
  font-size: 18px; /* px fallback */
  font-size: 1.8rem; /* default font-size for document */
  line-height: 2.9rem;
  overflow-x: hidden;
  background-color: #ebebeb;
}

h1 {
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

button {
  font-size: 18px; /* px fallback */
  font-size: 1.5rem; /* default font-size for document */
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.contentContainer {
  width: 100%;
  margin: 1px auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 150rem;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 51.55%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  html {
    font-size: 39.5%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 6.35px;
  }

  .contentContainer {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    overflow-x: hidden;
  }
}
