html {
  --dark-color: #333333;
  --light-text: #dcdcdc;
}
.header {
  overflow: hidden;
  padding: 2rem;
  background-color: var(--dark-color);
  h1,
  h2,
  h3 {
    color: var(--light-text);
  }
}
.body {
  min-height: calc(100vh - 26rem - 6px);
}
.footer {
  background-color: var(--dark-color);
  color: var(--light-text);
  padding: 6rem;
  @media only screen and (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  overflow: hidden;

  .footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footerIcon {
      width: 64px;
      margin-left: 2rem;
      @media only screen and (max-width: 768px) {
        width: 32px;
      }
    }
  }
}

.gallery {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .videoContentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
